@use '../../../style/variable' as variable
@use '../../../style/main' as main

.yearLine
    width: 64px
    +variable.mobile
        width: 44px
    .yearDot
        background-color: variable.$main-pink
        position: relative
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
        +variable.set-flex(center, center)
        &:nth-child(1), &:nth-child(2)
            height: 300px
        &:nth-child(3), &:nth-child(4)
            height: calc((100% - 600px) / 2)
        &::before
            content: ''
            width: 100%
            height: 5px
            background-color: variable.$main-bg
            position: absolute
            top: 0
            left: 0
        &:first-child::before
            opacity: 0
        p
            font-size: 80px
            font-family: 'Roboto Slab', serif
            font-weight: 700
            color: #fff
            letter-spacing: 5px
            transform: rotate(90deg)
            +variable.mobile
                font-size: 53px