@use '../../style/variable' as variable
@use '../../style/main' as main
    
.ningxia
    width: calc(100% - 80px)
    margin-left: 80px
    font-family: 'Poppins', sans-serif
    font-weight: 700
    letter-spacing: 1px
    .banner
        width: 100%
        height: 100vh
        +variable.set-flex(flex-end, center)
        position: relative
        .title
            text-align: left
            font-size: 54px
            z-index: 2
            position: absolute
            left: 10%
            top: 30%
            letter-spacing: 3px
            line-height: 2.5
            span
                background-color: #fff
                padding: 10px 30px
                color: #333
                margin-top: 20px
        .bannerImg
            +main.bg-fit
    .introduce
        +variable.set-flex(center, center)
        margin-top: 150px
        margin-bottom: 150px
        position: relative
        .paper
            position: absolute
            width: 100%
            top: -120px
        .introduceImg
            width: 50%
            margin-left: 40px
        .introduceTxt
            position: relative
            width: 50%
            left: -30px
            padding: 60px
            line-height: 2.4
            font-size: 20px
            color: #46423b
    .desertBg
        padding: 80px 0
        position: relative
        background-attachment: fixed
    .point
        margin-top: 80px
        margin-bottom: 80px
        font-size: 20px
        p
            text-align: left
            margin-bottom: 15px
            color: #fff
            letter-spacing: 3px
            text-shadow: 0.1em 0.1em 0.2em #000000af
        img
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px
        .list
            +variable.set-flex(space-between, flex-end)
            .item
                margin-right: 25px
                &:last-child
                    margin-right: 0
                img
                    height: 350px