@use '../../style/variable' as variable
@use '../../style/main' as main

.zhangjiajie
    width: calc(100% - 80px)
    margin-left: 80px
    overflow: hidden
    font-family: "Poppins", sans-serif
    .banner
        width: 100%
        background-attachment: fixed
        padding-bottom: 400px
        .title
            width: 100%
            height: 700px
            +variable.set-flex(center, center)
            flex-direction: column
            position: relative
            z-index: 2
            p
                font-family: 'f02'
                color: #252f33
                font-size: 140px
            .logo
                width: 100px
                position: absolute
                margin-right: 155px
                margin-top: 285px
    .circlePointBg
        height: 450px
        width: 100%
        position: relative
        .cloud
            position: absolute
            top: -250px
            left: -20px
            img
                width: 600px
    .circlePointList
        display: flex
        margin-top: -140px
        position: absolute
        z-index: 2
        padding: 0 calc((100% - 1280px) / 2)
        .point
            width: 33.33%
            display: flex
            flex-direction: column
            align-items: center
            .cirlceImg
                width: 80%
            .cirlceTxtBg
                width: 75%
                font-size: 24px
                margin-bottom: -60px
                margin-top: -40px
            .title
                font-size: 20px
                letter-spacing: 1px
                font-weight: 700
                color: #252f33
    .blackPoint
        position: relative
        height: 350px
        margin-top: -50px
        display: flex
        .item
            width: 50%
            .blackHide
                width: 100%
                height: 100%
                background-color: #4e6a808f
                color: #fff
                font-weight: 700
                font-size: 20px
                letter-spacing: 2px
                +variable.set-flex(center, center)
                transition: .3s all
            &:hover .blackHide
                opacity: 0
    .footer
        +variable.set-flex(flex-end, center)
        background-color: #222e36
        padding: 10px 30px
        color: #ccc
        font-size: 14px
        letter-spacing: 1px