@use './variable' as variable

.main-blue 
    background-color: variable.$main-blue

=bg-circle($color, $size, $posX, $posY)
    position: absolute
    left: $posX
    top: $posY
    width: $size
    height: $size
    border-radius: 50%
    background-color: $color

.container1280
    max-width: 1280px
    margin: auto
    padding: 0 60px
