// 配色
$main-blue: #4CB6E0
$main-light-pink-color: #F7EDE9
$main-black-color: #5C5959
$light-blue-color: #E8F1F4
$brown-color: #968575

$main-black: #413f3f
$main-bg: #F0E9E3
$pink-bg: #E7BDBF
$orange-bg: #EFD6C2
$yellow-bg: #EEDFC2
$main-pink: #DE6B72